<!DOCTYPE html>
<html>

    {% include /head.html %}
    <head>
      <script src="/js/lightbox-plus-jquery.js"></script>
      <script>
          lightbox.option({
            'resizeDuration': 200,
            'fadeDuration': 200,
            'positionFromTop': 75,
            'albumLabel': "%1 / %2",
            'imageFadeDuration':200
          })
      </script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.1.4/es5/tex-mml-chtml.min.js"></script>

    </head>
	   <body id="top">

        {% include /header.html %}

        {{ content }}

        {% include /footer.html %}

    </body>

</html>
