<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Green's Living</h2>
                <!-- <h4>Green's Living</h4> -->
                <p>My personal website documenting recent data science projects, past food science research, as well as other more frivolous interests.</p>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
