---
layout: default
---
<div class="wrapper style1">
    <article class="container">
        <header class="major">
            <h2 class="post-title">{{ page.title }}</h2>
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
            {% include mathjax.html %}
        </header>

        <section class="post-content">
            {{ content }}
        </section>

        <footer>

            {% if page.previous %}
            {% for post in site.posts %}
            {% if post.date < page.date %}
            {% if post.categories == page.categories %}

            <a href="{{ post.url }}" class="float-left">&larr; Previous post</a>{% break %}{% endif %}{% endif %}{% endfor %}{% endif %}

            {% if page.next %}
            {% for post in site.posts reversed %}
            {% if post.date > page.date %}
            {% if post.categories == page.categories %}
            <a href="{{ post.url }}" class="float-right">Next post &rarr;</a>{% break %}{% endif %}{% endif %}{% endfor %}{% endif %}


        </footer>

    </article>

</div>
